<html>
  <head></head>
  <body>
    <p>
      The secret number is <%= number %>
    </p>
  </body>
</html>

<form>
    <input type= 'text' name= 'guess' />
    <input type= 'submit' value='Guess!' />
</form>
